{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}


{% if items | length %}
<h1 class="title-cart">Votre panier</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.wine.name }}</td>
                    <td>{{ item.wine.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.wine.price * item.quantity }}</td>
                    <td>
                        <a href="{{ path('cart_remove', {'id': item.wine.id}) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total : </td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    {% if app.user is empty %}
    <a href="{{ 'login' }}"><button class="buy-button" id="checkout-button">Acheter</button></a>
    {% else %}
    <a href="{{ 'success' }}"><button class="buy-button" id="checkout-button">Acheter</button></a>
    {% endif %}
{% else %}
<h1 class="cart-empty">Votre panier est vide</h1>
{% endif %}

{% endblock %}
