{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    <div class="container">
        <div class="row">
            <div class="col-md12">

            </div>
            {{ form_start(registrationForm) }}
            <div class="col-md-6">
                {{ form_row(registrationForm.email, {'attr': {'placeholder': "Mail"}, 'label': "Mail"}) }}
            </div>

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
        </div>
    </div>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
